<div style="padding: 70px 20px 30px 10px">
  <div class="panel panel-default">
    <div class="panel-heading">
      <h3 class="panel-title">Leader of this month</h3>
    </div>
    <div class="panel-body">
      list
    </div>
  </div>

  <div class="panel panel-default">
    <div class="panel-body">
      <p>XXX points have already been given in your network over this month. Don't wait until the last day, join your colleagues and recognize their work!</p>
      <p>Your balance:</p>
      <p>XXX pts</p>
      <a href="<%= new_transaction_path() %>" class="btn btn-success" role="button">Recognize</a>
    </div>
  </div>

  <div class="panel panel-default">
    <div class="panel-heading">
      <h3 class="panel-title">Your earnings</h3>
    </div>
    <div class="panel-body">
      list
    </div>
  </div>
</div>
